<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <title>
      Phonetics-Modeling Main Page
    </title>
    <script>

      function extractSelectedTextFromTextArea()
      {
        // Get selected text
        var screen = document.getElementById("screen");
        var startIndex = screen.selectionStart;
        var endIndex = screen.selectionEnd;
        var selectedText = screen.value.substring(startIndex, endIndex);
        return selectedText;
      }

      function replaceSelectedTextInTextArea(replacement)
      {
        // Get selected text
        var screen = document.getElementById("screen");
        var startIndex = screen.selectionStart;
        var endIndex = screen.selectionEnd;
        var textBefore = screen.value.substring(0, startIndex);
        var textAfter = screen.value.substring(endIndex);
        screen.value = textBefore + replacement + textAfter;
      }


      function voiceItAction()
      {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange=function() {
          if (this.readyState === 4 && this.status === 200) {
            replaceSelectedTextInTextArea(this.responseText);
          }
        };

        var selectedText = extractSelectedTextFromTextArea();
        xhttp.open("GET", "http://127.0.0.1:8080/voice_phoneme/" + selectedText, true);
        xhttp.send();
      }


      function wireActionsToButtons()
      {
        let buttons = document.getElementsByTagName("button");
        for (let i = 0; i < buttons.length; i++)
        {
          let button = buttons[i];
          button.onclick = () => document.getElementById("screen").value += button.innerText;
        }

        let voiceItButton = document.getElementById("btnVoiceIt");
        voiceItButton.onclick = voiceItAction;

      }
    </script>
    <style>

    table
    {
      border-collapse: collapse;
    }

    th
    {
      border: 4px black;
      background: lightblue;
      border: 1px solid aliceblue;
    }

    table, td
    {
      border: 1px solid gray;
      background: aliceblue
    }
    
    button
    {
       font-size: 20px;
       margin: 0px;
       width: 50px;
       height: 50px;
       background-color: whitesmoke;
    }

    button.voiced
    {
      border-radius: 0% 0% 40% 0%;
    }

    button.voiceless
    {
      border-radius: 20% 0% 0% 20%;
    }

    button.vowel
    {
      border-radius: 10%;
    }

    button.rounded
    {
      border-radius: 50%;
    }
    
    #screen
    {
      font-size: 30px;
      width: 800px;
      height: 300px;
    }
        </style>
  </head>
  <body onload="wireActionsToButtons();">

     <textarea id="screen" autofocus></textarea>

     <button id="btnVoiceIt">voice selected text</button>
    <b>Press buttons below to write text here.</b>
    <h1>International Phonetic Alphabet</h1>
    <h2>Consonants (Pulmonic)</h2>
    <table style="border: 1px solid black;">
      <tr>
        <th></th>
        <th>
          Bilabial
        </th>
        <th>
          Labio-dental
        </th>
        <th>
          Dental
        </th>
        <th>
          Alveolar
        </th>
        <th>
          Post-alveolar
        </th>
        <th>
          Retroflex
        </th>
        <th>
          Palatal
        </th>
        <th>
          Velar
        </th>
        <th>
          Uvular
        </th>
        <th>
          Pharyngeal
        </th>
        <th> 
          Glottal
        </th>

      </tr>
      <tr>
         <th>Plosive</th>
         <td><button class="voiceless">p</button><button class="voiced">b</button></td>
         <td></td>
         <td></td>
         <td><button class="voiceless">t</button><button class="voiced">d</button></td> 
         <td></td>         
         <td><button class="voiceless">ʈ</button><button class="voiced">ɖ</button></td>
         <td><button class="voiceless">c</button><button class="voiced">ɟ</button></td>
         <td><button class="voiceless">k</button><button class="voiced">g</button></td>
         <td><button class="voiceless">q</button><button class="voiced">ɢ</button></td>
         <td></td>
         <td><button class="voiceless">ʔ</button><button style="visibility: hidden;"></button></td>
      </tr>
      <tr>
           <th>Nasal</th>
           <td><button style="visibility: hidden;"> </button> <button class="voiced">m</button></td>      
           <td><button style="visibility: hidden;"> </button> <button class="voiced">ɱ</button></td>
           <td></td>
           <td><button style="visibility: hidden;"> </button> <button class="voiced">n</button></td>
           <td></td>               
           <td><button style="visibility: hidden;"> </button> <button class="voiced">ɳ</button></td>      
           <td><button style="visibility: hidden;"> </button> <button class="voiced">ɲ</button></td>      
           <td><button style="visibility: hidden;"> </button> <button class="voiced">ɴ</button></td>                 
           <td></td>
           <td></td>
           <td></td>
        </tr>
        <tr>
          <th>Trill</th>
          <td><button style="visibility: hidden;"> </button><button class="voiced">ʙ</button></td>
          <td></td>
          <td></td>
          <td><button style="visibility: hidden;"> </button><button class="voiced">r</button></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button style="visibility: hidden;"> </button><button class="voiced">ʀ</button></td>                                        
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Tap or Flap</th>
          <td></td>
          <td><button style="visibility: hidden;"> </button><button class="voiced">ⱱ</button></td> 
          <td></td>               
          <td><button style="visibility: hidden;"> </button><button class="voiced">ɾ</button></td>             
          <td></td>               
          <td><button style="visibility: hidden;"> </button><button class="voiced">ɽ</button></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
           <th>Fricative</th>
           <td><button class="voiceless">ɸ</button><button class="voiced">β</button></td>  
           <td><button class="voiceless">f</button><button class="voiced">v</button></td>  
           <td><button class="voiceless">θ</button><button class="voiced">ð</button></td>  
           <td><button class="voiceless">s</button><button class="voiced">z</button></td>  
           <td><button class="voiceless">ʃ</button><button class="voiced">ʒ</button></td>  
           <td><button class="voiceless">ʂ</button><button class="voiced">ʐ</button></td>  
           <td><button class="voiceless">ç</button><button class="voiced">ʝ</button></td>  
           <td><button class="voiceless">x</button><button class="voiced">ɣ</button></td>  
           <td><button class="voiceless">χ</button><button class="voiced">ʁ</button></td>  
           <td><button class="voiceless">ħ</button><button class="voiced">ʕ</button></td>  
           <td><button class="voiceless">h</button><button class="voiced">ɦ</button></td>  
       </tr>
       <tr>
         <th>Lateral Fricative</th>
         <td></td>
         <td></td>
         <td></td>
         <td><button class="voiceless">ɬ</button><button style="align-self:right">ɮ</button></td>                                                                             
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
      </tr>
      <tr> 
        <th>Approximant</th>
        <td></td>
        <td><button style="visibility: hidden;"> </button><button class="voiced">ʋ</button></td>
        <td></td>
        <td><button style="visibility: hidden;"> </button><button class="voiced">ɹ</button></td>
        <td></td>
        <td><button style="visibility: hidden;"> </button><button class="voiced">ɻ</button></td>
        <td><button style="visibility: hidden;"> </button><button class="voiced">j</button></td>
        <td><button style="visibility: hidden;"> </button><button class="voiced">ɰ</button></td>                                                   
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Lateral Approximant</th>
        <td></td>
        <td></td>
        <td></td>
        <td><button style="visibility: hidden;"> </button><button class="voiced">l</button></td>
        <td></td>
        <td><button style="visibility: hidden;"> </button><button class="voiced">ɭ</button></td>
        <td><button style="visibility: hidden;"> </button><button class="voiced">ʎ</button></td>
        <td><button style="visibility: hidden;"> </button><button class="voiced">ʟ</button></td>                                
        <td></td>
        <td></td>
        <td></td>
      </tr>      
    </table>
    <table>
      <tr>
        <td style="width: 600px;">
          <h2>Consonants (Non-Pulmonic)</h2>
          <table>
            <tr><th>Clicks</th><th>Voiced implosives</th><th>Ejective</th></tr>
            <tr><td><button>ʘ</button> Bilabial</td><td><button>ɓ</button>  Bilabial</td><td><button>ʼ</button>   Ejective</td></tr>
            <tr><td><button>ǀ</button>  Dental  </td><td>  <button>ɗ</button> Dental/alveolar</td></tr>
            <tr><td><button>ǃ</button>  (Post)alveolar </td><td>   <button>ʄ</button> Palatal</td></tr>
            <tr><td><button>ǂ</button> Palatoalveolar</td><td><button>ɠ</button> Velar</td></tr>
            <tr><td><button>ǁ</button> Alveolar lateral</td><td><button>ʛ</button> Uvular</td></tr>
          </table>
          <br>
        </td>
        <td style="width: 600px;">
          <h2>Vowels</h2>
            <br><span style="margin-left:30px">Front</span>  <span style="margin-left:170px">Central</span>   <span style="margin-left:170px">Back</span>
            <br><button class="vowel">i</button> <button class="vowel rounded">y</button>   <button class="vowel" style="margin-left:100px">ɨ</button> <button class="vowel rounded">ʉ</button>   <button class="vowel" style="margin-left:100px">ɯ</button> <button class="vowel rounded">u</button>    Close
            <br><button class="vowel" style="margin-left:100px">ɪ</button> <button class="vowel rounded">ʏ</button>            <button class="vowel rounded" style="margin-left:150px">ʊ</button>
            <br><button class="vowel" style="margin-left:50px">e</button> <button class="vowel rounded">ø</button>   <button class="vowel" style="margin-left:50px">ɘ</button> <button class="vowel rounded">ɵ</button>   <button class="vowel" style="margin-left:100px">ɤ</button> <button class="vowel rounded">o</button>    Close-mid
            <br>               <button class="vowel" style="margin-left:230px">ə</button>
            <br><button class="vowel" style="margin-left:80px">ɛ</button> <button class="vowel rounded">œ</button>   <button class="vowel" style="margin-left:20px">ɜ</button> <button class="vowel rounded">ɞ</button>   <button class="vowel" style="margin-left:100px">ʌ</button> <button class="vowel rounded">ɔ</button>    Open-mid
            <br> <button class="vowel" style="margin-left:120px">æ</button>           <button class="vowel" style="margin-left:60px">ɐ</button>
            <br> <button class="vowel" style="margin-left:110px">a</button> <button class="vowel rounded">ɶ</button>              <button class="vowel" style="margin-left:200px">ɑ</button> <button class="vowel rounded">ɒ</button>   Open
        </td>
      </tr>
      <tr>
        <td>
          <h2>Other Symbols</h2>
          <table>
          <tr><td><button class="voiceless">ʍ</button> Voiceless labial-velar fricative</td><td><button>ɕ</button> <button class="voiced">ʑ</button> Alveolo-palatal fricatives</td></tr>
          <tr><td><button class="voiced">w</button> Voiced labial-velar approximant</td><td><button class="voiced">ɺ</button> Voiced alveolar lateral flap</td></tr>
          <tr><td><button class="voiced">ɥ</button> Voiced labial-palatal approximant</td><td><button>ɧ</button> Simultaneous ʃ and x</td></tr>
          <tr><td><button class="voiceless">ʜ</button> Voiceless epiglottal fricative</td></tr>
          <tr><td><button class="voiced">ʢ</button> Voiced epiglottal fricative</td></tr>
          <tr><td><button>ʡ</button> Epiglottal plosive</td><td><button>͡</button> <button>͜</button> Double articulation/ affricate</td></tr>
          </table>
          <br>
          <h2>Diacritics</h2>
          <table>
            <tr><td><button>̥</button><button>̊</button>   Voiceless </td><td><button>̤</button>    Breathy voiced</td><td><button>̪</button>    Dental</td></tr>
            <tr><td><button>̬</button>    Voiced</td><td><button>̰</button>    Creaky voiced</td><td><button>̺</button>    Apical</td></tr>
            <tr><td><button>ʰ</button>   Aspirated</td><td><button>̼</button>    Linguolabial</td><td><button>̻</button>    Laminal</td></tr>
            <tr><td><button>̹</button> More rounded</td><td><button>ʷ</button>   Labialised </td><td><button>̃</button>    Nasalised</td></tr>
            <tr><td><button>̜</button> Less rounded</td><td><button>ʲ</button>   Palatalised</td><td><button>ⁿ</button>   Pre/post nasalised</td></tr>
            <tr><td><button>̟</button> Advanced</td><td><button>ˠ</button>   Velarised</td><td><button>ˡ</button>   Lateral release</td></tr>
            <tr><td><button>̠</button> Retracted</td><td><button>ˤ</button>   Pharyngealised</td><td><button>̚</button>    No audible release</td></tr>
            <tr><td><button>̈</button>    Centralised</td><td><!-- not implemented yet <button>~</button> Velarized or Pharyngealized --></td></tr>
            <tr><td><button>̽</button>    Mid centralised</td><td><button>̝</button> Raised</td></tr>
            <tr><td><button>̩</button><button>̍</button>    Syllabic </td><td><button>̞</button> Lowered</td></tr>
            <tr><td><button>̯</button>    Non-syllabic</td><td><button>̘</button> Advanced tongue root</td></tr>
            <tr><td><button>˞</button>   Rhoticity</td><td><button>̙</button> Retracted tongue root</td></tr>
          </table>
 
        </td>
        <td>
          <h2>Suprasegmentals</h2>
            <br> <button>ˈ</button>    Primary stress
            <br> <button>ˌ</button>    Secondary stress
            <br> <button>ː</button>    Long
            <br> <button>ˑ</button>    Half long

            <br> <button>̆</button>     Extra short
            <br> <button>|</button>    Minor (foot) group 
            <br> <button>‖</button>    Major (intonation) group
            <br> <button>.</button>    Syllable break
            <br> <button>‿</button>    Linking (absence of a break
            


          <h2>Tones and Word Accents</h2>
          <table>
            <tr>
              <td>          
                <h3>Level</h3>
                <br> <button>˥</button> <button>̋</button>   Extra high
                <br> <button>˦</button> <button>́</button>   High
                <br> <button>˧</button> <button>̄</button>   Mid
                <br> <button>˨</button> <button>̀</button>   Low
                <br> <button>˩</button> <button>̏</button>   Extra low
                <br>      <button>ꜜ</button>   Downstep
                <br>      <button>ꜛ</button>   Upstep
              </td>
              <td>
                <h3>Contour</h3>
                <br>  <button>̌</button>  Rising
                <br>  <button>̂</button> Falling
                <br>  <button>᷄</button> High rising
                <br>  <button>᷅</button> Low rising
                <br>  <button>᷈</button> Rising-falling
                <br>  <button>↗</button>  Global rise
                <br>  <button>↘</button> Global fall
              </td>
            </tr>
          </table>


  
        </td>
      </tr>
    </table>


   <div><a href="https://www.internationalphoneticassociation.org/sites/default/files/IPA_Kiel_2015.pdf">Source of information: IPA Phonetic Alphabet Chart 2015</a></div>
   <!-- <a href="https://github.com/elsanussi-s-mneina">Source code repository</a> -->
  </body>
</html>
